<footer>
  <div class="columns">
    <div class="col">
      <h4>OuttaSite Web Design</h4>
      <p>
        OuttaSite Web Design is a premium design agency located in Long Beach,
        NY. We offer web design, graphic design and mobile app development
        services to businesses and individuals. We'll work closely with you to
        provide a customized online presence that matches your style and stays
        within your budget.
      </p>
    </div>
    <div class="col">
      <h4>Site Menu</h4>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/portfolio">Our Work</a>
        </li>
        <li>
          <a routerLink="/about">About Us</a>
        </li>
        <li>
          <a routerLink="/contact">Contact Us</a>
        </li>
        <li>
          <a routerLink="/privacy">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h4>Contact Info</h4>
      <p>OuttaSite Web Design</p>
      <p>P.O. Box 855</p>
      <p>Long Beach, NY 11561</p>
      <p>516.851.0871</p>
      <p>info@outtasitewebdesign.com</p>
    </div>
  </div>
  <p class="copyright">
    Copyright &copy; {{ currentYear }} • OuttaSite Web Design
  </p>
</footer>
