<div class="about-container">
  <article>
    <p>
      OuttaSite Web Design is a premium design and consulting agency located in
      Long Beach, NY.&nbsp;We work with businesses and individuals to provide a
      customized online presence that matches your style and
      <em>fits your budget</em>.
    </p>
    <p>
      We create <a routerLink="/portfolio">beautiful websites</a> that look
      fantastic and function perfectly on any size device. All of your current
      and future customers use smart phones, tablets and/or laptops to access
      information. Today's leading websites deliver consistent results no matter
      what the device and so can yours. Customers won't wait for business owners
      to figure it out.
    </p>
    <p>
      Working with businesses, both large and small for nearly 20 years we have
      developed a proven approach. By focusing on our clients' needs and
      utilizing our extensive design experience, we are able to provide NYC
      Agency-quality results <em>timely and at a fraction of the cost</em>.
    </p>
    <p>
      Whether you need objective input on marketing, promotion, a brand new
      website or want to update your current site with professional quality
      design and search engine friendly code - we're here to make you look good
      and help your business grow.
    </p>
    <p>
      Feel free to
      <a routerLink="/contact">get in touch</a> -whether you know exactly what
      you want or you just have a question, we'd love to hear from you.
    </p>
  </article>
</div>
