<div class="hero">
  <div class="wrap">
    <div class="intro">
      <h1 id="tagline">
        Stunning, <br />
        Responsive <br />
        Web Design
      </h1>
      <p>
        We design beautiful websites that fit your business and are accessible
        on all devices, from smartphones to large computer screens and
        everything in-between.
      </p>
      <a>Request a quote</a>
    </div>
    <div class="screens">
      <div class="laptop">
        <img
          src="../../assets/images/pointe-nutrition-mac.png"
          alt="Website designed for large screen sizes"
        />
      </div>
      <div class="ipad">
        <img
          src="../../assets/images/pointe-nutrition-ipad.png"
          alt="Website designed for tablet screens"
        />
      </div>
      <div class="iphone">
        <img
          src="../../assets/images/pointe-nutrition-iphone.png"
          alt="Website designed for smartphone screens"
        />
      </div>
    </div>
  </div>
</div>
