.hero {
  background-image: url(../../assets/images/ind-summer.jpg);
  background-size: cover;
  overflow: hidden;
  padding: 0 0 24px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1600px;
  margin: 0 auto;
}
.intro {
  padding: 36px 0 0 36px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  min-width: 398px;
}
.intro h1 {
  font-size: 3.375em;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 24px;
}
.intro p {
  font-size: 1.125em;
  line-height: 1.5;
  max-width: 95%;
  margin-bottom: 36px;
}
.intro a {
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #42200e;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  padding: 18px 36px;
  cursor: pointer;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}
.intro a:hover {
  color: #f1e3a0;
  background-color: #250f02;
  text-decoration: underline;
}
.screens {
  position: relative;
  flex-grow: 2;
  padding: 48px 0 96px;
  height: 100%;
}
.laptop {
  /* position: absolute;
  top: 18px;
  left: 60px;
  width: 700px; */
  margin-left: 80px;
  width: 100%;
}
.ipad {
  position: absolute;
  bottom: 60px;
  left: 92px;
  width: 42%;
}
.iphone {
  position: absolute;
  bottom: 24px;
  left: 18px;
  width: 26%;
}

@media only screen and (max-width: 1100px) {
  .intro {
    padding: 0 0 0 36px;
  }
}

@media only screen and (max-width: 1000px) {
  .intro {
    padding: 0 0 0 36px;
  }
  .intro h1 {
    font-size: 3.125em;
    margin-bottom: 12px;
  }
  .intro p {
    font-size: 1.125em;
    margin-bottom: 24px;
  }
  .intro a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 900px) {
  .intro h1 {
    font-size: 2.875em;
    margin-bottom: 12px;
  }
  .intro p {
    font-size: 1em;
    margin-bottom: 24px;
  }
  .intro a {
    font-size: 0.9em;
  }
  .laptop {
    margin-left: 60px;
    width: 100%;
  }
  .ipad {
    position: absolute;
    bottom: 60px;
    left: 48px;
    width: 42%;
  }
  .iphone {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 26%;
  }
}

@media only screen and (max-width: 800px) {
  .intro h1 {
    font-size: 2.5em;
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 760px) {
  .hero {
    padding: 0;
  }
  .wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
  }
  .intro {
    padding: 0 48px;
    width: 100%;
  }
  .intro h1,
  .intro p,
  .intro a {
    text-align: center;
    max-width: none;
  }
  .laptop {
    margin-left: 96px;
    width: 100%;
  }
  .ipad {
    left: 90px;
    width: 42%;
  }
  .iphone {
    left: 48px;
    width: 26%;
  }
}
