<div class="responsive-design-explanation">
  <h3>What is Responsive Web Design?</h3>
  <div class="columns">
    <div class="col">
      <h4>So Many Different Screens</h4>
      <p>
        Nowadays, it is <em>extremely</em> important to have your web site
        viewable on not only computers but also on mobile devices such as
        tablets and smartphones. That's where
        <em>Responsive Web Design</em> comes in.
      </p>
      <h4>A Quick History of Mobile Web Design</h4>
      <p>
        In the early days of mobile devices, websites were simply shrunk in size
        to fit on the smaller screens. Users would have to pinch and zoom with
        their fingers to magnify the words to be legible. This made websites
        almost unusable. As these devices gained in popularity, developers began
        creating separate mobile websites for their clients in addition to the
        main website that was designed to look good on large computer screens.
        However, developers now had to keep track of 2 websites which proved to
        be too unwieldy and expensive for everyone.
      </p>
    </div>
    <div class="col">
      <h4>Responsive Web Design To The Rescue</h4>
      <p>
        Responsive Web Design allows for one single fluid design that adapts to
        mobile devices with ease. The layout dynamically changes to look it's
        best on any screen; the navigation buttons are folded into a small menu,
        the size of text and graphics are altered to read more easily, and the
        need to pinch and zoom is eliminated.
      </p>
      <h4>It Takes More Than A Template</h4>
      <p>
        Responsive Web Design is an art in itself. The website should be
        designed from the ground up with mobile in mind, tested and tweaked
        until it looks the best it can be on every screen size. At
        <strong>OuttaSite Web Design</strong>, we pride ourselves on our ability
        to design the best looking websites for all devices. We invite you to
        <a routerLink="/portfolio">visit our portfolio</a> and open our websites
        on your smartphone and tablets. We have painstakingly made sure each
        site looks its best no matter where it is viewed.
      </p>
    </div>
  </div>
</div>
