<div class="recent-work">
  <h3>Recent Web Sites</h3>
  <h4>Check out some of our most recent work</h4>
  <a class="button-link" routerLink="/portfolio">View Our Portfolio</a>
  <div class="thumbnails">
    <a class="thumb" routerLink="/portfolio">
      <img
        src="../../assets/images/dance-sq.jpg"
        alt="website example thumbnail"
      />
      <div class="title">
        <h4>Dance Nutrition</h4>
      </div>
    </a>
    <a class="thumb" routerLink="/portfolio">
      <img
        src="../../assets/images/demart-sq.jpg"
        alt="website example thumbnail"
      />
      <div class="title">
        <h4>Demerah's Art</h4>
      </div>
    </a>
    <a class="thumb" routerLink="/portfolio">
      <img
        src="../../assets/images/pointe-sq.jpg"
        alt="website example thumbnail"
      />
      <div class="title">
        <h4>Pointe Nutrition</h4>
      </div>
    </a>
    <a class="thumb" routerLink="/portfolio">
      <img
        src="../../assets/images/gbg-sq.jpg"
        alt="website example thumbnail"
      />
      <div class="title">
        <h4>Gregory Blake Group</h4>
      </div>
    </a>
    <a class="thumb" routerLink="/portfolio">
      <img
        src="../../assets/images/lbfd-sq.jpg"
        alt="website example thumbnail"
      />
      <div class="title">
        <h4>Long Beach Fire Department</h4>
      </div>
    </a>
  </div>
</div>
