<nav
  class="nav-primary"
  routerLinkActive="active"
  fadeInAnimation
  [duration]="0.5"
  [delay]="0.5"
>
  <button (click)="toggleMenu()" [ngClass]="{ pressed: open }">
    <div class="hamburger" [ngClass]="{ change: open }">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    Menu
  </button>
  <div class="menu-container">
    <ul [ngClass]="{ show: open }" (click)="toggleMenu()">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/portfolio" routerLinkActive="active">Our Work</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About Us</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
