<div class="skills">
  <div class="skill">
    <div class="icon">
      <img
        src="../../assets/images/icon-web-design.png"
        alt="Computer annd keyboard icon"
      />
    </div>
    <h3>Website Design</h3>
    <ul>
      <li>
        Affordable, easy setup. Focus on running your business not your website.
      </li>
      <li>Fast loading, responsive design that looks great on any device.</li>
      <li>Manage your own content or let us handle all the details.</li>
    </ul>
  </div>
  <div class="skill">
    <div class="icon">
      <img
        src="../../assets/images/icon-graphic-design.png"
        alt="Pencil icon"
      />
    </div>
    <h3>Graphic Design</h3>
    <ul>
      <li>
        Need a logo? We can create a professional logo for you-- a must for any
        business.
      </li>
      <li>We can match any art style you need. Seemless and stylish.</li>
      <li>From hero images to icons, graphics add interest to any site.</li>
    </ul>
  </div>
  <div class="skill">
    <div class="icon">
      <img src="../../assets/images/icon-wordpress.png" alt="Wordpress icon" />
    </div>
    <h3>Blog Setup</h3>
    <ul>
      <li>
        Starting a blog but not sure where to begin? We can set you up and have
        you blogging in no time.
      </li>
      <li>We can customize any existing theme or create one from scratch.</li>
      <li>Hosting &amp; maintenance options available.</li>
    </ul>
  </div>
  <div class="skill">
    <div class="icon">
      <img src="../../assets/images/icon-app-dev.png" alt="Smartphone icon" />
    </div>
    <h3>Mobile Apps</h3>
    <ul>
      <li>
        Got an idea for an iPhone App? We can build it for you & have you making
        money in no time!
      </li>
      <li>
        Mobilize your website! Millions of users are using their mobile devices
        to access your website. Give them a more intuitive and effective
        experience.
      </li>
    </ul>
  </div>
</div>
