<div class="quote">
  <blockquote>
    OuttaSite Web Design designed and created my business's site from the start,
    and it couldn't be more perfect! Noah was fast, reliable, and always
    responsive to my feedback in a timely manner. In just the past 2 weeks, I've
    received more responses from new clients. As the owner of a Manhattan-based
    private practice, I couldn't be happier with the work of Noah from OuttaSite
    Web Design. <span>- Rachel Fine, Pointe Nutrition</span>
  </blockquote>
</div>
