<div fadeInAnimation [duration]="0.7" [delay]="0.3">
  <app-hero></app-hero>
  <app-quote></app-quote>
  <app-skills></app-skills>
  <app-recent-work></app-recent-work>
  <app-responsive></app-responsive>
  <app-call-to-action></app-call-to-action>
</div>

<!-- <h1 fadeInAnimation [duration]="1" [delay]="1" *ifAnimated="showP">
  Home Component
</h1>
<p fadeInAnimation [duration]="1" [delay]="2" *ifAnimated="showP">
  This is the Home page
</p>
<button fadeInAnimation [duration]="1" [delay]="3" (click)="toggleP()">
  {{ showP ? "Hide P" : "Show P" }}
</button> -->
